<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simulação</title>
        <link href="css/tabstyle.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand ps-3" href="https://covidsimulation.herokuapp.com/">Página Inicial</a>
            <a class="navbar-brand ps-3" href="https://covidsimulation.herokuapp.com/dados">Dados</a>
            
        </nav>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Gráfico de Simulação</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                O gráfico irá simular o futuro da pandemia COVID-19, demonstrando a quantidade de população Suscétivel, Recuperada e Infetada. Usando o modelo SIR.
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Simulação de Infetados, Suscétiveis e Recuperados.
                            </div>
                            <div class="card-body">
                                <canvas id="myAreaChart2" width="100%" height="30"></canvas>
                                <script>
                                var datasim = <%- JSON.stringify(simu) %>; 
                                var datasim1 = <%- JSON.stringify(simu1) %>;  
                                var datasim2 = <%- JSON.stringify(simu2) %>;
                                var datasim3 = <%- JSON.stringify(simu3) %>;  
                                chartitd();
                                function chartitd(){                                     
                                var ctx = document.getElementById('myAreaChart2');
                                    var myChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: datasim3, 
                                            datasets: [{
                                                label: 'Número de pessoas Suscétiveis',
                                                data: datasim,
                                                backgroundColor: [
                                                    'rgba(0, 0, 255, 0.2)'
                                                ],
                                                borderColor: [
                                                    'rgba(0, 0, 255, 1)'
                                                ],
                                                borderWidth: 2
                                            },
                                            {label: 'Número de Infetados',
                                                data: datasim1,
                                                backgroundColor: [
                                                    'rgba(0, 255, 0, 0.2)'
                                                ],
                                                borderColor: [
                                                    'rgba(0, 255, 0, 1)'
                                                ],
                                                borderWidth: 2
                                            },
                                            {label: 'Número de Recuperados',
                                                data: datasim2,
                                                backgroundColor: [
                                                    'rgba(255, 0, 0, 0.2)'
                                                ],
                                                borderColor: [
                                                    'rgba(255, 0, 0, 1)'
                                                ],
                                                borderWidth: 2
                                            }]
                                        },
                                    });
                                }
                                </script>
                            
                            </div>
                            
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                O eixo y irá quantificar o número de População Suscétivel, Infetada e Recuperada, o eixo x vai ser a quantidade de dias em que a simulação se baseia.
                                
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Simulação COVID-19</div>
                            <div>
                                <a href="https://autonoma.pt/en/">Universidade Autónoma de Lisboa</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    </body>
</html>
